[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.1.1"
anyio = "==3.7.0"
apscheduler = "==3.10.1"
beautifulsoup4 = "==4.11.2"
billiard = "==4.1.0"
blinker = "==1.6.2"
celery = "==5.3.1"
certifi = "==2023.5.7"
charset-normalizer = "==3.1.0"
click-didyoumean = "==0.3.0"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
click = "==8.1.3"
colorama = "==0.4.6"
fastapi = "==0.92.0"
flask = "==2.3.2"
greenlet = "==2.0.2"
h11 = "==0.14.0"
idna = "==3.4"
itsdangerous = "==2.1.2"
jinja2 = "==3.1.2"
kombu = "==5.3.1"
loguru = "==0.6.0"
markupsafe = "==2.1.3"
numpy = "==1.25.0"
pandas = "==1.5.3"
prompt-toolkit = "==3.0.38"
pydantic = "==1.10.10"
pyjwt = "==2.7.0"
pymysql = "==1.1.0"
python-dateutil = "==2.8.2"
pytz = "==2023.3"
requests = "==2.31.0"
six = "==1.16.0"
sniffio = "==1.3.0"
soupsieve = "==2.4.1"
sqlalchemy = "==1.4.46"
starlette = "==0.25.0"
tqdm = "==4.65.0"
typing-extensions = "==4.7.0"
tzdata = "==2023.3"
tzlocal = "==5.0.1"
urllib3 = "==2.0.3"
uvicorn = "==0.20.0"
vine = "==5.0.0"
wcwidth = "==0.2.6"
werkzeug = "==2.3.6"
win32-setctime = "==1.1.0"
richer = {editable = true, path = "."}
pytest = "*"
httpx = "*"
pytest-cov = "*"
pytest-mock = "*"
python-dotenv = "*"

[dev-packages]
